services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: production
    command: gunicorn app.main:app -w 4 -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000
    volumes: []

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: production
    ports:
      - "80:80"
    command: []
    volumes: []
